/Server/.vs/Comments-app/FileContentIndex/*.vsidx
/Server/.vs/Comments-app/v17/*.v2
/Server/.vs
/Server/Comments-app/bin
/Server/Comments-app/obj
/.vs/Comments-app/DesignTimeBuild/*.v2
/.vs/Comments-app/v17/*.v2
/.vs
/Comments-app/bin
/Comments-app/obj
/obj
/bin
/LoadTester/.vs
/LoadTester/LoadTester/obj
/LoadTester/LoadTester/bin
/server/obj/Docker/comments-app/*.cache
*.cache
/server/bin/Debug
/server/obj/Debug
/server/obj/Docker
/LoadTester/obj/Debug
/LoadTester/obj
/LoadTester/bin
/CommentsAppTests/bin
/CommentsAppTests/obj
bin
obj
/server/packages/MSTest.TestAdapter.2.2.10/build/_common/tr/*.dll
*.dll
*.XML
*._
*.props
*.targets
packages
/server/Comments-app/appsettings.json
*.sample
/comments-app.git/HEAD
/comments-app.git/config
/comments-app.git/description
/comments-app.git/info/exclude
/comments-app.git/objects/pack/pack-5a7355f5ee1bfc3264af00f062cc24fe071f2935.idx
/comments-app.git/objects/pack/pack-5a7355f5ee1bfc3264af00f062cc24fe071f2935.pack
/comments-app.git/packed-refs
.vscode
