/Server/.vs/Comments-app/FileContentIndex/*.vsidx
/Server/.vs/Comments-app/v17/*.v2
/Server/.vs
/Server/Comments-app/bin
/Server/Comments-app/obj
/.vs/Comments-app/DesignTimeBuild/*.v2
/.vs/Comments-app/v17/*.v2
/.vs
/Comments-app/bin
/Comments-app/obj
